$primary-green: #014e56;
$primary-coral: #f67e7e;
$primary-white: #fff;
$secondayr-rapture-blue: #79c8c7;
$secondayr-police-blue: #2c6269;
$secondayr-jungle-green: #004047;
$secondayr-state-green: #012f34;
$seconday-dark-green: #002529;